In [1]:
import numpy as np
import pandas as pd

## Dot Product example (nut butter sales)

In [2]:
np.random.seed(0)

sales_unit = np.random.randint(0, 20, size=(7, 3))

In [3]:
sales_unit

array([[12, 15,  0],
       [ 3,  3,  7],
       [ 9, 19, 18],
       [ 4,  6, 12],
       [ 1,  6,  7],
       [14, 17,  5],
       [13,  8,  9]])

In [4]:
weekly_sales = pd.DataFrame(sales_unit, index=["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"], columns=["Product A","Product B", "Product C"])

In [5]:
weekly_sales

           Product A  Product B  Product C
Monday            12         15          0
Tuesday            3          3          7
Wednesday          9         19         18
Thursday           4          6         12
Friday             1          6          7
Saturday          14         17          5
Sunday            13          8          9

In [6]:
product_price = np.array([10 ,15, 25])
reshaped_product_price = product_price.reshape(1, 3)
reshaped_product_price

array([[10, 15, 25]])

In [7]:
product_price_dataframe = pd.DataFrame(reshaped_product_price, index=["Price/Product"], columns=["Product A", "Product B", "Product C"])

In [8]:
product_price_dataframe

               Product A  Product B  Product C
Price/Product         10         15         25

In [9]:
weekly_sales.shape, product_price_dataframe.shape

((7, 3), (1, 3))

In [10]:
# transposing product_price array for dot product to get daily total sales($)
product_prices = product_price_dataframe.T

In [11]:
product_prices.shape

(3, 1)

In [12]:
daily_total_sales = weekly_sales.dot(product_prices)

In [13]:
weekly_sales["Total ($)"] = daily_total_sales

In [14]:
weekly_sales

           Product A  Product B  Product C  Total ($)
Monday            12         15          0        345
Tuesday            3          3          7        250
Wednesday          9         19         18        825
Thursday           4          6         12        430
Friday             1          6          7        275
Saturday          14         17          5        520
Sunday            13          8          9        475

In [15]:
# append New row 'Total' to the data frame
weekly_sales.loc['Total'] = weekly_sales.select_dtypes(np.number).sum()
weekly_sales

           Product A  Product B  Product C  Total ($)
Monday            12         15          0        345
Tuesday            3          3          7        250
Wednesday          9         19         18        825
Thursday           4          6         12        430
Friday             1          6          7        275
Saturday          14         17          5        520
Sunday            13          8          9        475
Total             56         74         58       3120

In [16]:
frames = [weekly_sales, product_price_dataframe]

In [17]:
output_frame = pd.concat(frames)

In [18]:
output_frame

               Product A  Product B  Product C  Total ($)
Monday                12         15          0      345.0
Tuesday                3          3          7      250.0
Wednesday              9         19         18      825.0
Thursday               4          6         12      430.0
Friday                 1          6          7      275.0
Saturday              14         17          5      520.0
Sunday                13          8          9      475.0
Total                 56         74         58     3120.0
Price/Product         10         15         25        NaN

In [19]:
output_frame.to_csv("demo_data/nut_butter_sales.csv")